
.SearchResult {
  position: relative;
  left: 0px;
  margin-left: 5px;
  display: inline-block;
  height: 133px;
  min-width: 236px;
  background-color: red;
  transition: ease-in-out 0.4s all;
  transition-delay: 0.2s;
  text-align: center;
  color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.SearchResult > p {
  margin: 0px;
}

.SearchResult:hover {
  height: 250px;
  min-width: 400px;
  color: rgba(0, 0, 0, 1);
}