
.SearchResult {
  position: relative;
  left: 0px;
  margin-left: 5px;
  display: inline-block;
  height: 133px;
  min-width: 236px;
  background-color: red;
  transition: ease-out 1s all;
  text-align: center;
  color: rgb(0, 0, 0, 0);
}

.SearchResult > p {
  margin: 0px;
}

.SearchResult:hover {
  height: 250px;
  min-width: 400px;
  color: rgb(0, 0, 0, 1);
  background-color: blue; 
}