.BillBoard {
  position: relative;
  top: 0px;
  width: 100%;
  height: auto;
  z-index: 0;
}

.BillBoardBackground {
  width: 100%;
  height: auto;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.MovieInfo {
  position: relative;
  top: 40vh;
  margin-left: 20px;
}
