.PrimaryNavigation {
  position: relative;
  top: -14%;
  display: inline-flex;
  justify-content: left;
}
.PrimaryNavigation > .DesktopOnly > a,
.PrimaryNavigation > .MobileOnly > p {
  text-decoration: none;
  margin-right: 15px;
  color: white;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
  transition: 0.4s color;
}

.PrimaryNavigation > .DesktopOnly > a:hover {
  color: grey;
}

.MobileLinks {
  display: none;
  position: fixed;
  top: 13vh;
  left: 4.2vw;
  border-top: 3px white solid;
  width: 260px;
  font-size: 13px;
}

.MobileLinks > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: rgb(0, 0, 0, 0.8);
  border: none;
  margin: 0;
  color: #b3b3b3;
}

@media (max-width: 900px) {
  .DesktopOnly {
    display: none;
  }
  .MobileLinks {
    flex-flow: column;
    text-align: center;
  }
}
@media (min-width: 901px) {
  .MobileOnly {
    display: none;
  }
}