.Login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.6) url('../../Assets/LoginBG.jpg') no-repeat
    center center fixed;
  background-blend-mode: darken;
}

.Logo {
  position: absolute;
  top: 2vh;
  left: 2vw;
  width: 170px;
}

.LoginBox {
  width: 450px;
  min-height: 500px;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginForm {
  width: 320px;
  height: 400px;
  color: white;
}

.LoginForm > input {
  width: 310px;
  padding-left: 10px;
  height: 50px;
  border: 0;
  border-radius: 3px;
  background-color: rgb(61, 58, 58);

  margin-top: 15px;
  color: white;
  font-size: 1.2em;
}

.LoginButton {
  width: 320px;
  height: 50px;
  border: 0;
  border-radius: 3px;
  background-color: red;

  margin-top: 15px;
  color: white;
  font-size: 1.2em;
}
.ErrorButton {
  width: 320px;
  height: 50px;
  border: 0;
  border-radius: 3px;
  background-color: rgb(121, 32, 0);

  margin-top: 15px;
  color: white;
  font-size: 1em;
}
.footerInfo {
  position: fixed;
  bottom: 2vh;
  right: 5vw;
  font-size: 1em;
  color: white;
}
