.content {
  position: absolute;
  overflow-x: hidden;
  max-width: 100%;
}

.backgroundBlack{
  background-color: black;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}